
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid black;
}
input {
  background-color: white;
  text-align: left
}
img {
  width: 70%;
  height: 70%; 
}
.single-product > img {
  height: 60%;
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 75px;
  padding-top: 50px;
}
.item {
  background-color: aliceblue;
  box-shadow: 5px 5px lightblue;
  transition: all .2s ease-in-out; 
}
.item:hover {
  transform: scale(1.1);
}
.category-buttons {
  padding-bottom: 50px;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  grid-gap: 100px;
  padding-top: 50px;
  
}
.category-item {
  transition: all .2s ease-in-out; 
  background-color: aliceblue;
  box-shadow: 5px 5px lightblue;
}
.category-item:hover {
  transform: scale(1.1);
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-top: 0px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all .2s ease-in-out; 
}
button:hover {
  transform: scale(1.1);
}
.navbar {
  float: right
}
.login-entry{
  margin-top: 150px;
  margin-bottom: 30px;
}
.login {
  text-align: right;
}