
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding-top: 50px;
  padding-bottom: 100px;
}

img {
  width: 70%;
  height: 70%; 
}
.single-product > img {
  height: 60%;
  width: 60%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 100px;
  padding-top: 50px;
}
.item {
  background-color: aliceblue;
  //border: 7px solid black
}
.category-buttons {
  padding-bottom: 50px;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 100px;
  padding-top: 50px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: lightblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
.navbar {
  float: right
}